<div class="e-roottools" style='background-color:#fff; width:100%;color:white'>
    <ejs-toolbar id='toolbar_align' #toolbarDevice width="100%" height="100%" overflowMode='Popup'
        (clicked)="toolbarClick($event)">
        <e-items>
            <e-item prefixIcon="ej-icon-New tb-icons" text="New" tooltipText="Write a new message"
                cssClass="tb-item-new-mail">
            </e-item>
            <e-item prefixIcon='ej-icon-Mark-as-read tb-icons' text='Mark all as read' tooltipText='Mark all as read'
                cssClass='tb-item-mark-read'>
            </e-item>
            <e-item text="↓ Submit" tooltipText="Download Data"
                cssClass="tb-item-new-mail" (click)="downloadCSV()">
            </e-item>
            <e-item prefixIcon='ej-icon-Delete tb-icons' (click)="reportButton($event, 'Delete button')" text='Delete' cssClass='tb-item-Selected' tooltipText='Delete'>
            </e-item>
            <e-item id="ReportPhish" text='Report Phish' (click)="reportButton($event, 'Report Phish button')" cssClass='tb-item-Selected' tooltipText='Report Phish'></e-item>
        </e-items>
    </ejs-toolbar>
    <ejs-toolbar id='toolbar_mobile' #toolbarMobile width='100%' height='100%' overflowMode='Popup'
        (clicked)="toolbarClick($event)">
        <e-items>
            <e-item prefixIcon='ej-icon-Menu tb-icons' cssClass='tb-item-menu tb-item-front'></e-item>
            <e-item prefixIcon='ej-icon-Back' cssClass='tb-item-back-icon tb-item-back'></e-item>
            <e-item text='Inbox' cssClass='tb-item-inbox tb-item-front'></e-item>
            <e-item text='Compose' cssClass='tb-item-inbox tb-item-back tb-item-newmail-option'></e-item>
            <e-item cssClass='tb-item-search-option' align='center'>
                <ng-template #template>
                    <div class="search-div1" style="width:90%">
                        <div>
                            <ejs-autocomplete id='txtSearch1' cssClass='search-text-box' #txtSearch1
                                [dataSource]='contactsList' placeholder='Search Mail and People' [fields]='searchFields'
                                [showClearButton]='acClearButton' (change)='autoSearchSelect($event)'
                                (focus)="autoSearchFocus($event)" (blur)="autoSearchBlur($event)"
                                style="height: 40px;display: block;"></ejs-autocomplete>
                        </div>
                    </div>
                </ng-template>
            </e-item>
            <e-item prefixIcon='ej-icon-Close' tooltipText='Clear' align='right' cssClass='tb-item-search-option'>
            </e-item>
            <e-item prefixIcon='ej-icon-Search' tooltipText='Search Mail' align='right' cssClass='tb-item-front'>
            </e-item>
            <e-item prefixIcon='ej-icon-New' tooltipText='Write a new message' align='right'
                cssClass='tb-item-front'>
            </e-item>
            <e-item text="↓ Submit" tooltipText="Download Data"
                cssClass="tb-item-new-mail" (click)="downloadCSV()">
            </e-item>
            <e-item prefixIcon='ej-icon-Send' tooltipText='Send' align='right'
                cssClass='tb-item-back tb-item-newmail-option'>
            </e-item>
            <e-item prefixIcon='ej-icon-Attach' tooltipText='Attach' align='right'
                cssClass='tb-item-back tb-item-newmail-option'>
            </e-item>
            <e-item prefixIcon='ej-icon-Delete' (click)="reportButton($event, 'Delete button')"  align='right' cssClass='tb-item-back' tooltipText='Delete'>
            </e-item>
            <e-item prefixIcon='ej-icon-Reply-All' tooltipText='Reply All' align='right' cssClass='tb-item-back'>
            </e-item>
            <e-item cssClass='tb-item-more tb-item-back' tooltipText='More actions' align='right'>
                <ng-template #template>
                    <div>
                        <ejs-dropdownlist id='moreList1' #moreItemList1 [dataSource]='moreList'
                            (change)='moreItemSelect($event)' value="Mark as read" [fields]='dropdownField'
                            popupHeight="150px" popupWidth="150px">
                            <ng-template #valueTemplate let-data>
                                <div class="tb-dropdowns" style="font-size: 16px;margin-top: -2px;"><span
                                        class="e-btn-icon e-icons ej-icon-More"></span></div>
                            </ng-template>
                        </ejs-dropdownlist>
                    </div>
                </ng-template>
            </e-item>
        </e-items>
    </ejs-toolbar>
</div>